Host company1-server1
	HostName 1.1.1.1
	Port 2121
	User user

Host company2-server1
	HostName 1.1.1.2
	Port 2121
	User user
    IdentityFile ~/.ssh/id_rsa
	ProxyCommand ssh company2-server2  nc %h %p


Host company2-server2
	HostName 1.1.1.3
	Port 2121
	User user
    IdentityFile ~/.ssh/id_rsa
